@charset "UTF-8";

body{
    background-color: #7a9bd8;
    font: normal 1.2em Arial, Helvetica, sans-serif;
}
header{
    color: white;
    text-align: center;
}
section{
    text-align: center;
    background-color: white;
    border-radius: 10px;
    padding: 15px;
    max-width: 500px;
    margin: auto;
    box-shadow: 5px 5px 10px #00000070;
}
section>div{
    padding: 10px;
}
footer{
    color: white;
    text-align: center;
    font-style: italic;
}